apiVersion: v1
kind: Pod
metadata:
  name: echopod
  labels:
    app: echoheaders
spec:
  containers:
  - name: echoheaders
    # OPTIONAL: replace 1.0 with "__DOCKER_TAG__" to have Grand Central populate the version number
    image: gcr.io/google_containers/echoserver:1.0
    ports:
    - containerPort: 8080